<h1><%= @show.name %></h1>

<h3>Description:</h3>
<p><%= @show.description %></p>

<h3>Genre:</h3>
<p><%= @show.genre %></p>

<h3>Network:</h3>
<p><%= @show.network.name %></p>

<h3>Air Date:</h3>
<p><%= @show.air_date %></p>
