<div class="main-content">
  <h3><%= @show.name %></h3>
  <p>Description: <%= @show.description %></p>
  <p>Genre: <%= @show.genre %></p>
  <p>Network: <%= @show.network.name %></p>
  <p>Air Date: <%= @show.air_date %></p>
</div>

<div class="links-buttons">

<% if @show.owner == current_user %>
  <a class="btn btn-outline-primary" href="/shows/<%= @show.slug %>/edit" role="button">Edit Show</a>

<br></br>

<form action="/shows/<%= @show.slug %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input class="btn btn-outline-danger" type="submit" id="submit" value="Delete Show">
</form>
<% end %>

<% if !@user.shows.include?(@show) %>
  <p>This show is not currently in your watchlist. Would you like to add it?</p>
  <a class="btn btn-success" href="/shows/<%= @show.slug %>/add" role="button">Add Show</a>
<% end %>

<a href="/users/watchlist">View My Watchlist</a>

</div>
