<h3><%= @show.name %></h3>

<p>Description:</p>
<p><%= @show.description %></p>

<p>Genre:</p>
<p><%= @show.genre %></p>

<p>Network:</p>
<p><%= @show.network.name %></p>

<p>Air Date:</p>
<p><%= @show.air_date %></p><br>

<% if @show.owner == current_user %>
<a class="btn btn-outline-primary" href="/shows/<%= @show.slug %>/edit" role="button">Edit <%= @show.name %> Page</a>

<br></br>

<form action="/shows/<%= @show.slug %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input class="btn btn-danger" type="submit" id="submit" value="Delete Show">
</form>
<% end %>

<% if !@user.shows.include?(@show) %>
  <p>This show is not currently in your watchlist. Would you like to add it?</p>
  <a class="btn btn-success" href="/shows/<%= @show.slug %>/add" role="button">Add Show</a>
<% end %>
