<h1>Edit <%= @show.name %> Page</h1>

<form action="/shows/<%= @show.slug %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <h3>Name:</h3>
  <p><%= @show.name %></p>
  <h4>New Name: <input type="text" name="name"></h4>

  <h3>Genre:</h3>
  <p><%= @show.genre %></p>
  <h4>New Genre: <input type="text" name="genre"></h4>

  <h3>Network:</h3>
  <p><%= @show.network.name %>

  <h4>New Network (Select One):</h4>
  <% Network.all.each do |network|%>
    <input type="checkbox" name="network_name" value="<%=network.name%>"><%=network.name%></input><br>
  <%end%>
  <label>Add New Network: <input type="text" name="network_name"></label>

  <h3>Description:</h3>
  <p><%= @show.description %></p>
  <h4>New Description: <input type="text" name="description"></h4>

  <h3>Air Date Info:</h3>
  <p><%= @show.air_date %></p>
  <h4>New Air Date Info: <input type="text" name="air_date"></h4>

</form>

<input type="submit" value="Update Show">
