<% if flash.has?(:message) %>
  <div class="alert alert-danger">
    <%= flash[:message] %>
  </div>
<% end %>
<div class="show-pages">
  <h3>Edit <%= @show.name %></h3>
  <form action="/shows/<%= @show.slug %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
      <p>Name: <input type="text" name="name" value="<%= @show.name %>"></p>
      <p>Genre: <input type="text" name="genre" value="<%= @show.genre %>"></p>
      <p>Network: <input type="text" name="network" value="<%= @show.network.name %>"></p>
      <p>Description<input type="text" name="description" value="<%= @show.description %>"></p>
      <p>Air Date: <input type="text" name="air_date" value="<%= @show.air_date %>"></p>
    <input class="btn btn-primary btn-sm" type="submit" value="Update Show">
  </form>
</div>
