<% if flash.has?(:message) %>
  <div class="alert alert-danger">
    <%= flash[:message] %>
  </div>
<% end %>
<h3 class="table-heading">What's on TV?</h3>
<table>
  <thead>
    <tr>
      <th>Show</th>
      <th>Genre</th>
      <th>Network</th>
    </tr>
  </thead>
  <tbody>
    <% @shows.each do |show| %>
    <tr>
      <td><a href="/shows/<%= show.slug %>"><%= show.name %></td>
      <td><%= show.genre %></td>
      <td><%= show.network.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="links-buttons">
  <a class="btn btn-outline-secondary btn-sm" href="/watchlist" role="button">My Watchlist</a>
  <a class="btn btn-outline-secondary btn-sm" href="/shows" role="button">Browse Shows</a>
  <a class="btn btn-outline-info btn-sm" href="/shows" role="button">Add New Show</a>
</div>
