<h1>All TV Shows</h1>

<table style="width: 50%">
  <tr>
    <th>Show</th>
    <th>Genre</th>
    <th>Network</th>
  </tr>



    <% @shows.each do |show| %>
    <tr>
    <td><a href="/shows/<%= show.id %>"><%= show.name %></td>
    <td><%= show.genre %></td>
    <td><%= show.network.name %></td>
    <td><%= show.user_id %></td>

  </tr>
    <br></br>
    <% end %>


</table>

<br></br>

<% @shows.each do |show| %>
<a href="/shows/<%= show.id %>"><%= show.name %></a><br>
<%= show.network_id %><br>
<%= show.genre %><br>
<%= show.description %><br>
<%= show.air_date %><br>
<br></br>
<% end %>
